﻿@model web_s10186768.Models.Rental

@{
    ViewData["Title"] = "Calculate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calculate</h2>

<h4>Rental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Calculate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoanDate" class="control-label"></label>
                <input asp-for="LoanDate" class="form-control" />
                <span asp-validation-for="LoanDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumBooks" class="control-label"></label>
                <input asp-for="NumBooks" class="form-control" />
                <span asp-validation-for="NumBooks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumDays" class="control-label"></label>
                <input asp-for="NumDays" class="form-control" />
                <span asp-validation-for="NumDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalRate" class="control-label"></label>
                <input asp-for="RentalRate" class="form-control" />
                <span asp-validation-for="RentalRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalFee" class="control-label"></label>
                <input asp-for="RentalFee" class="form-control" />
                <span asp-validation-for="RentalFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPercent" class="control-label"></label>
                <input asp-for="DiscountPercent" class="form-control" />
                <span asp-validation-for="DiscountPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountPayable" class="control-label"></label>
                <input asp-for="AmountPayable" class="form-control" />
                <span asp-validation-for="AmountPayable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

